body {
    background-color: #ededed !important;
}

.ui.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui.menu {
    border-radius: 0 !important;
    border-top: #34eb52 3px solid !important;
}

.bg-white {
    background-color: white !important;
}

.ui.container.bg-white {
    min-height: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:hover {
    color: #31d64c;
}

.greenLink:hover {
    cursor: pointer;
    color: #34eb52 !important;
}

.margined {
    margin-right: 4em !important;
    margin-left: 4em !important;
}

.calls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video.presentation_call {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 5px;
}

.meeting.bar {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.9;
    align-items: center;
}

.meeting.bar i:hover {
    cursor: pointer;
    opacity: 0.8 !important;
}

.grid-items {
    justify-content: center !important;
}

.item.bg-white {
    margin: 1em !important;
    padding-top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.ui.items.margined {
    margin-top: 4em !important;
}

.side_chat {
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100% - 80px);
    width: 400px;
    background-color: black;
    opacity: 0.9;
}

#down {
    position: absolute;
    bottom: 20px;
    justify-content: center;
    align-items: center;
}

#text_chat {
    width: 100%;
    height: 30px;
}

#chat {
    list-style-type: none;
}

li.chat_message {
    color: white;
}

.main_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./imgs/login_background.jpg");
    background-size: cover;
}

.main_container_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #34eb52;
    opacity: 0.15;
}

.top_fix {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    margin: 0 !important;
    margin-top: 1em !important;
}