body {
    background-color: #ededed !important;
}

.ui.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui.menu {
    border-radius: 0 !important;
    border-top: #34eb52 3px solid !important;
}

.bg-white {
    background-color: white !important;
}

.ui.container.bg-white {
    border: 2px solid #ebebeb;
    min-height: 30%;
}

a:hover {
    color: #34eb52;
}

.greenLink:hover {
    cursor: pointer;
    color: #31d64c !important;
}

.margined {
    margin-right: 4em !important;
    margin-left: 4em !important;
}